.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-size: calc(10px + 2vmin);
  }
  
  .Button {
    height: 60px;
    width: 500px;
    border-radius: 10px;
    font-size: 30px;
  }
  
  .Text{
    font-size: 50px;
  }

  .Logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }